@model BlackFridayWeb.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manufacturer" class="control-label"></label>
                <input asp-for="manufacturer" class="form-control" />
                <span asp-validation-for="manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" id="priceID" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="multiplier" class="control-label"></label>
                <input asp-for="multiplier" class="form-control" max="100" min="1" id="multiID"/>
                <span asp-validation-for="multiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bfPrice" class="control-label"></label>
                <input asp-for="bfPrice" class="form-control" id="bfPriceID" />
                <span asp-validation-for="bfPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="myBtn"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
